.sidebarWrapper {
  width: 50%;
  min-width: 380px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  left: 0;
}

.sidebar {
  width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  background: var(--first);
  /* border-left: 1px solid rgb(167, 167, 167); */
}


.sidebarTop{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.sidebarBottom{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.sidebarHeader span{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
}

.sidebarBody{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.sidebarSubsWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.sidebarSubsTitle{
    font-size: 20px;
    font-weight: 700;
    color: var(--text);
}

.sidebarSubsItems{
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    max-height: 250px;
    overflow-y: auto;
}

.sidebarSubsItems::-webkit-scrollbar {
    width: 8px;
    background: var(--fourth);
    border-radius: 8px;
}

.sidebarSubsItems button{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding: 8px;
    border-radius: 8px;
}

.sidebarSubsItems button:hover{
    background-color: var(--second);
    cursor: pointer;
}

.sidebarSubsItems button span{
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
}

.sidebarSubsItems button span:nth-child(1){
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebarSubsItems button span:nth-child(2){
    text-align: right;
}
