.subUpdatePriceWrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: flex-end;
    gap: 8px;
}

.subDescription{
    text-align: justify;
}

.ownSubModalInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}