.hkWHmG {
  backdrop-filter: blur(5px) !important;
  background-color: rgba(0, 0, 0, 0.1);
}

.Ejxnl {
  opacity: 1 !important;
  width: 420px !important;
}

.kQuNmZ {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;
  width: 100% !important;
}
