node_modules
.env

# Certora Prover
contracts/node_modules
contracts/.certora_internal

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
