
:root{
  --first: #FFFFFF;
  --second: #F5F5F5;
  --third: #e9e7e7;
  --accent: #00A9FF;
  --text: #26282B;
  --sidebar-width: 280px;
  --outlet-width: calc(100% - var(--sidebar-width));
  --content-size: 1000px;
}


body {
  background: var(--first);
  color: var(--text) !important;
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Ubuntu', sans-serif !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--first);
}

::-webkit-scrollbar-thumb {
  background-color: var(--third);
  border-radius: 8px;
}

.appWrapper{
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}